[submodule "third-party/doctest"]
	path = third-party/doctest
	url = https://github.com/doctest/doctest.git
[submodule "third-party/link"]
	path = third-party/link
	url = https://github.com/Ableton/link.git
[submodule "third-party/trompeloeil"]
	path = third-party/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
[submodule "crone/softcut"]
	path = crone/softcut
	url = https://github.com/monome/softcut-lib.git
[submodule "third-party/lua-cjson"]
	path = third-party/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "third-party/nng"]
	path = third-party/nng
	url = https://github.com/nanomsg/nng.git
[submodule "third-party/readerwriterqueue"]
	path = third-party/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "third-party/concurrentqueue"]
	path = third-party/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
