# ignore objects and archives
*.[oa]

# ignore emacs cruft
\#*\#
*.*~

# vim
*.swp

# waf
.lock-waf*
.waf*
build/

# build
maiden/maiden

# xcode
*.xcbkptlist
*.xcuserstate

# vscode
.vscode/

crone/\.idea/

crone/cmake-build-debug/

crone/build-debinfo/

crone/build-release/

# Jekyll
_site

# maiden-repl bin
maiden-repl/maiden-repl
