[submodule "third-party/link"]
	path = third-party/link
	url = https://github.com/Ableton/link.git
[submodule "crone/softcut"]
	path = crone/softcut
	url = https://github.com/monome/softcut-lib.git
[submodule "crone/lib/readerwriterqueue"]
	path = crone/lib/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
