
# The type of line endings. Default=Auto.
newlines                        = crlf     # auto/lf/crlf/cr

# The original size of tabs in the input. Default=8.
input_tab_size                  = 4        # unsigned number

# If the file contains bytes with values between 128 and 255, but is not UTF-8, then output as UTF-8.
utf8_byte                       = true    # false/true

# The number of columns to indent per level.
# Usually 2, 3, 4, or 8. Default=8.
indent_columns                  = 4        # unsigned number

# How to use tabs when indenting code
# 0=spaces only
# 1=indent with tabs to brace level, align with spaces (default)
# 2=indent and align with tabs, using spaces when not on a tabstop
indent_with_tabs                = 0        # unsigned number