[Unit]
Description=norns

Requires=sockets.target
Requires=sound.target

Requires=norns-jack.service
Requires=norns-sclang.service
Requires=norns-main.service
Requires=norns-maiden.service

AllowIsolate=yes

[Install]
WantedBy=multi-user.target
