[Unit]
Requires=norns-maiden.socket

[Service]
Type=simple
User=we
Group=we
WorkingDirectory=/home/we/maiden
ExecStart=/home/we/maiden/maiden server --fd 3 --app ./app/build --data /home/we/dust --doc /home/we/norns/doc

[Install]
WantedBy=norns.target
